


<% 
id=(Math.random()+"").replace(".","")
//id=supertopic.id
%>

<% if(req.body.nobody===undefined){ %>


<% if(req.body.notitle===undefined){ %>

    <div style="width:100%;margin-bottom:0px;">
        <h1 style="display: inline-block;"><%= supertopic.topic%> </h1>

        <% que.forEach(function(subtopic){ %>
            < <span class="topicQueLink" onClick="loadSubtopic('#subtopicPane',{topic:'<%= subtopic.id %>'},true);">
                <%= subtopic.topic %>
            </span>
        <% }); %>

    </div>

<% } %>

<div class="card">

    <div class="cardBody" style="">
    
     <% } %>
   
        <% if(topics.length>0){ %>

            <% topics.forEach(function(topic,i){ %>
            
                <div class="CardContainer" id="topic-<%=topic.id%>" onClick="loadOptions(this,'<%=topic.id%>')" >
                    <a onClick="loadSubtopic('#subtopicPane',{topic:'<%= topic.id %>'},true,event);"> 
                        <%= topic.topic %> 
                    </a>
                    <br>
                    <span class="smallText">posted by 
                        <% if( topic.username!="marc" && topic.username!="subtopic" && topic.username!="adam"){ %>
                            <%= topic.username %>
                        <% }else{ %>
                            <b><span style='color:rgb(34,224,151)'> <%= topic.username %> </span></b>
                        <% } %>
                            
                    </span>

             
                    <div class="cardContent">
                        <% if(topic.type=="text"){ %>
                            <% if(topic.body!=""){ %>
                                <br>
                                <%= topic.body %>
                            <% } %>
                        <%  } else if(topic.type=="image"){ %>
                            <br>
                            <img src="/images/<%=topic.id%>.png">
                        <% } %>
                    </div>
                    
                    <here>
                <% if(i!=topics.length-1){ %>
                     <hr>
                <% } %>

                </div>
                
            <% }); %>
           
           
           <% 
           //not the best way to do this because if it's a perfect multiple of 7 itll show unessary "show more button"
           if(topics.length==7){ %>
            <hr><br>
             <div style="margin:0px;padding:0px;" id="nextContent<%= id %>">
                <center><button onClick="showMore('<%= supertopic.id %>','<%= id %>',<%=page %>)" class="button" style="color:rgb(34,224,151)">Show More</button></center>
            </div>
        <% }else{ %>
           
        <% } %>


        <% }else{ %>
            Sorry, we're all out of content! 😭
        <% } %>    

        

<% 
if(req.body.nobody===undefined){ %>
    </div>

</div>

<% } %>

