<% 
id=(Math.random()+"").replace(".","")
//id=supertopic.id
%>

<% if(req.body.nobody===undefined){ %>

<div style="width:100%;margin-bottom:0px;">
    <h1 style="display: inline-block;"><%= supertopic.topic%></h1>

    <% que.forEach(function(subtopic){ %>
        < <span class="topicQueLink" onClick="loadSubtopic('#subtopicPane',{topic:'<%= subtopic.id %>'},true);">
            <%= subtopic.topic %>
          </span>
    <% }); %>

</div>



<div class="card">

    <div class="cardBody">
    
     <% } %>
    
        <% if(topics.length>0){ %>
            <% topics.forEach(function(topic){ %>
                <a onClick="loadSubtopic('#subtopicPane',{topic:'<%= topic.id %>'},true);"> <%= topic.topic %> </a><br>
                <span class="smallText">posted by <%= topic.username %></span>

                <div class="cardContent">
                    <% if(topic.type=="text"){ %>
                            <% if(topic.body!=""){ %>
                                <br>
                                <%= topic.body %>
                            <% } %>
                    <%  } else if(topic.type=="image"){ %>
                        <br>
                        <img src="/images/<%=topic.id%>.png">
                    <% } %>
               </div>
               
                <hr>
            <% }); %>
           
             <div style="margin:0px;padding:0px;" id="nextContent<%= id %>">
                <center><button onClick="showMore('<%= supertopic.id %>','<%= id %>')" class="button" style="color:rgb(34,224,151)">Show More</button></center>
            </div>

        <% }else{ %>
            Sorry, we're all out of content! 😭
        <% } %>    

        

<% if(req.body.nobody===undefined){ %>
    </div>

</div>

<% } %>
